.bg {
    background-image: url('../images/bg.png');
    background-size: cover;
    margin: 0;
    padding: 40px;
    color: white;
    align-items: center;
    width: 100%;
    height: 100%;
  
  }
  
  .text-center{
    padding-top:40px;
  }
  .container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  
  .form-box1 {
    width: 550px;
    height: 740px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0.6;
    border-radius: 2%;
    justify-content: center;
    padding: 120px;
  
  }
  
  .header-form1 {
    margin-bottom: 25px;
    height: 100px;
  }
  
  button {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .SignupButton {
    padding-bottom: 20px;
  }
  
  .message {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
    color: azure;
    padding-bottom: 10px;
  
  }
  
  .message a{
    color: azure;
    padding-right: 20px;
  }
  .message a:hover {
    color: aqua;
  }
  
  .SignupMessage a{
    color: azure;
    align-self: center;
  }
  
  .SignupMessage a:hover {
    color: aqua;
  }
  
  .SignupMessage {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 50px;
    align-self: start;
  }
  
  .social {
    display: flex;
    justify-content: space-around;
    padding: 30px;
  }
  
  .social i:hover {
    color: azure;
    cursor: pointer;
  }
  
  
  
  .or a{
    text-align: center;
    padding-top: 10px;
    color: azure;
    font-size: 14px;
  
  }
  
  .social a:hover{
   color: azure;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:10px;
  }
  
  
  .selectUser {
    position: relative;
    padding: 10px;
    border: none;
    border-right: 10px solid #fff;
    outline: none;
    width: 200px;
    border-radius: 4px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }